body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.calculator:hover {
    transform: scale(1.05);
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    transition: border-color 0.3s ease-in-out;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

button:active {
    background-color: #2980b9;
    transform: scale(0.95);
}

button.operator {
    background-color: #e74c3c;
}

button.operator:active {
    background-color: #c0392b;
}

button.double {
    grid-column: span 2;
}

button.double:active {
    transform: scale(0.95);
}

button.equal {
    background-color: #2ecc71;
}

button.equal:active {
    background-color: #27ae60;
}