body {
    text-align: center;
    background-color: white;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    height: 5vh;
    border: none;
    border-radius: 1vh;
    color: white;
    background-color: black;
}

input {
    height: 5vh;
    border-color: black;
    border-radius: 1vh;
    color: black;
    background-color: white;
}