@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

* {
    font-family: "Madimi One", sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vh;
    margin: 0vh;
    background-color: white;
    color: black;
}

table {
    width: 50vh;
}

.nav {
    width: 50vh;
    margin: 3vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #8AC926;
}

.nav:hover {
    transform: scale(1.05);
    transition: all 1s ease;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mainContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    margin: 10vh;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.graph {
    margin-inline: 10vh;
}

.button {
    border: none;
    border-radius: 1vh;
    width: 16vh;
    height: 3vh;
    font-size: 1.5vh;
}