body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    height: 100px;
    border: 2px solid #000;
    cursor: pointer;
}

.hidden {
    background-color: #ccc;
    color: #ccc;
}